@charset "utf-8";
/* CSS Document */
body{
	width:98%
	min-width:900px;
	max-width:1050px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	font-weight:normal;
	margin:0px auto;
	border:1px solid red;
	background-color:#999;
	}
#mainContent{
	width:100%;
	background-image:url(img/white.jpg);
	}
#menu ul{
	border:1px solid black;
	text-align:center;
	background-color: rgb(204,51,51);
	}	
#menu ul li{
	width:150px;
	height:36px;
	list-style:none;
	line-height:26px;
	text-align: center;
	background-color:#0F9;
	border:1px solid #F09;
	font-size:18px;
	border-radius:10px;
	float:left;
	}
#menu ul li a{
	text-decoration:none;
	color:#303;
	}
#header IMG{
	width:100%;
	height:100px;
    }